apiVersion: v1
kind: ConfigMap
metadata:
  name: sentryflow
  labels:
    {{- include "sentryflow.labels" . | nindent 4 }}
    {{- with .Values.genericLabels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
data:
  config.yaml: |2-
    filters:
      server:
        port: {{ .Values.config.serverPort | default 8081 }}

      {{- if .Values.config.receivers.nginxIngressController.enabled }}
      nginxIngress:
        deploymentName: {{ .Values.config.receivers.nginxIngressController.deploymentName }}
        configMapName: {{ .Values.config.receivers.nginxIngressController.configMapName }}
        sentryFlowNjsConfigMapName: {{ .Values.config.receivers.nginxIngressController.sentryFlowNjsConfigMapName | default "sentryflow-nginx-inc"}}
      {{- end }}

      {{- if .Values.config.receivers.istio.enabled }}
      envoy:
        uri: {{ .Values.config.receivers.istio.envoyFilterUri | default "public.ecr.aws/k9v9d5v2/sentryflow-httpfilter" }}
        {{- if and
        .Values.config.receivers.istio.gateway.enabled
        (default false .Values.config.receivers.istio.gateway.ratelimiting.enabled)
        }}
        gatewayWithRatelimitTag: {{
          .Values.config.receivers.istio.gateway.ratelimiting.tag
          | default "latest-gateway-ratelimit"
        }}
        {{- else if .Values.config.receivers.istio.gateway.enabled }}
        gatewayTag: {{
          .Values.config.receivers.istio.gateway.tag
          | default "latest-gateway"
        }}
        {{- end }}
        {{- if .Values.config.receivers.istio.sidecar.enabled }}
        sidecarTag: {{ .Values.config.receivers.istio.sidecar.tag | default "latest-sidecar" }}
        {{- end }}
      {{- end }}

      {{- if .Values.config.receivers.kongGateway.enabled }}
      kongGateway:
        deploymentName: {{ .Values.config.receivers.kongGateway.deploymentName }}
      {{- end }}

    receivers:
      {{- if .Values.config.receivers.nginxIngressController.enabled }}
      others:
        - name: nginx-inc-ingress-controller
          namespace: {{ .Values.config.receivers.nginxIngressController.namespace }}
      {{- end }}

      {{- if .Values.config.receivers.istio.enabled }}
      serviceMeshes:
        {{- if .Values.config.receivers.istio.gateway.enabled }}
        - name: istio-gateway
          namespace: {{ .Values.config.receivers.istio.namespace | default "istio-system" }}
          {{- if .Values.config.receivers.istio.gateway.ratelimiting.enabled }}
          ratelimiting: 
            enabled: true
            url: {{ .Values.config.receivers.istio.gateway.ratelimiting.url | default "security-gatekeeper.accuknox-api-security" }}
            port: {{ .Values.config.receivers.istio.gateway.ratelimiting.port | default 8082 }}
            path: {{ .Values.config.receivers.istio.gateway.ratelimiting.path | default "/allowed" }}
          {{- end }}
        {{- end }}
        {{- if .Values.config.receivers.istio.sidecar.enabled }}
        - name: istio-sidecar
          namespace: {{ .Values.config.receivers.istio.namespace | default "istio-system" }}
        {{- end }}
      {{- end }}

      {{- if .Values.config.receivers.azureApim.enabled }}
      others:
        - name: Azure-APIM
      {{- end }}

      {{- if .Values.config.receivers.kongGateway.enabled }}
      others:
        - name: kong-gateway
          namespace: {{ .Values.config.receivers.kongGateway.namespace }}
      {{- end }}

      {{- if .Values.config.receivers.awsApigw.enabled }}
      others:
        - name: aws-api-gateway
      {{- end }}

    exporter:
      grpc:
        port: {{ .Values.config.grpcPort | default 8080 }}

      http:
        enabled: {{ .Values.config.httpExporter.enabled | default false }}
        timeoutSeconds: {{ .Values.config.httpExporter.timeoutSeconds | default 5 }}
        webhooks:
          - name: {{ .Values.config.httpExporter.webhook.name }}
            url: {{ .Values.config.httpExporter.webhook.url }}
            method: {{ .Values.config.httpExporter.webhook.method | default "POST" }}
            headers:
              {{- range $key, $value := .Values.config.httpExporter.webhook.headers }}
              {{ $key }}: {{ $value }}
              {{- end }}
            tls:
              caCertPath: {{ .Values.config.httpExporter.webhook.tls.caCertPath }}
              clientCertPath: {{ .Values.config.httpExporter.webhook.tls.clientCertPath }}
              clientKeyPath: {{ .Values.config.httpExporter.webhook.tls.clientKeyPath }}
              insecureSkipVerify: {{ .Values.config.httpExporter.webhook.tls.insecureSkipVerify | default false }}  
