apiVersion: v1
kind: ConfigMap
metadata:
  name: sentryflow
  labels:
    {{- include "sentryflow.labels" . | nindent 4 }}
    {{- with .Values.genericLabels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
data:
  config.yaml: |2-
    filters:
      server:
        port: {{ .Values.config.serverPort | default 8081 }}

      {{- if .Values.config.receivers.nginxIngressController.enabled }}
      nginxIngress:
        deploymentName: {{ .Values.config.receivers.nginxIngressController.deploymentName }}
        configMapName: {{ .Values.config.receivers.nginxIngressController.configMapName }}
        sentryFlowNjsConfigMapName: {{ .Values.config.receivers.nginxIngressController.sentryFlowNjsConfigMapName | default "sentryflow-nginx-inc"}}
      {{- end }}

      {{- if .Values.config.receivers.istio.enabled }}
      envoy:
        uri: {{ .Values.config.receivers.istio.envoyFilterUri | default "public.ecr.aws/k9v9d5v2/sentryflow-httpfilter" }}
        gatewayTag: {{ .Values.config.receivers.istio.gatewayTag | default "latest-gateway" }}
        sidecarTag: {{ .Values.config.receivers.istio.sidecarTag | default "latest-sidecar" }}
      {{- end }}

      {{- if .Values.config.receivers.gcp.enabled }}
      gcp:
        projectID: {{ .Values.config.receivers.gcp.projectID }}
        subscriptionID: {{ .Values.config.receivers.gcp.subscriptionID }}
        {{- if or .Values.config.receivers.gcp.secretName .Values.secrets.receivers.gcp.serviceAccountJSON }}
        serviceAccountJSON: "/etc/sentryflow/gcp/{{ .Values.config.receivers.gcp.secretKey | default "key.json" }}"
        {{- else }}
        serviceAccountJSON: {{ .Values.config.receivers.gcp.serviceAccountJSON | quote }}
        {{- end }}
      {{- end }}

    receivers:
      others:
      {{- if .Values.config.receivers.nginxIngressController.enabled }}
        - name: nginx-inc-ingress-controller
          namespace: {{ .Values.config.receivers.nginxIngressController.namespace }}
      {{- end }}
      {{- if .Values.config.receivers.azureApim.enabled }}
        - name: Azure-APIM
      {{- end }}
      {{- if .Values.config.receivers.gcp.enabled }}
        - name: gcp-api-gateway
      {{- end }}
      {{- if .Values.config.receivers.awsApigw.enabled }}
        - name: aws-api-gateway
      {{- end }}

    exporter:
      grpc:
        port: {{ .Values.config.grpcPort | default 8080 }}
