apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentryflow
  labels:
    {{- include "sentryflow.labels" . | nindent 4 }}
    {{- with .Values.genericLabels }}
          {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "sentryflow.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "sentryflow.labels" . | nindent 8 }}
        {{- with .Values.genericLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "sentryflow.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.args }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end}}
          ports:
            - name: exporter
              containerPort: {{ index .Values.service.ports 0 "port" }}
            - name: receiver
              containerPort: {{ index .Values.service.ports 1 "port" }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or .Values.config.receivers.gcp.secretName .Values.secrets.receivers.gcp.serviceAccountJSON }}
            - name: gcp-credentials
              mountPath: "/etc/sentryflow/gcp"
              readOnly: true
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.config.receivers.gcp.secretName .Values.secrets.receivers.gcp.serviceAccountJSON }}
        - name: gcp-credentials
          secret:
            secretName: {{ .Values.config.receivers.gcp.secretName | default "sentryflow-gcp-creds" }}
      {{- end }}
