# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Authors of SentryFlow

filters:
  http-server:
    port: 8081
  # Envoy filter is required for `istio-sidecar` and `istio-gateway` service-mesh receiver.
  envoy:
    uri: public.ecr.aws/k9v9d5v2/sentryflow-httpfilter
    gatewayTag: "latest-gateway"
    sidecarTag: "latest-sidecar"
  tcp-server:
    port: 5000

# Envoy filter is required for `istio-sidecar` service-mesh receiver.
#  envoy:
#    uri: public.ecr.aws/k9v9d5v2/sentryflow-httpfilter:latest

#  Following is required for `nginx-inc-ingress-controller` receiver.
#  nginxIngress:
#    deploymentName: nginx-ingress-controller
#    configMapName: nginx-ingress
#    sentryFlowNjsConfigMapName: sentryflow-njs

receivers: # aka sources
# Uncomment the following receivers according to your requirement.

  serviceMeshes:
    - name: istio-gateway
      namespace: istio-system
    - name: istio-sidecar
      namespace: istio-system
 #
 # others:
#    - name: nginx-inc-ingress-controller
#      namespace: default

#    - name: nginx-webserver
#
#    - name: Azure-APIM
#   
#    - name: aws-api-gateway
#
#    - name: f5-big-ip

#    - name: kong-gateway
#      namespace: kong

exporter:
  grpc:
    port: 8080

  http:
    enabled: false
    timeoutSeconds: 5
    webhooks:
      - name: <name-of-your-webhook>
        url: <url-of-your-webhook>
        method: POST
        headers:
          Authorization: <Bearer <your-auth-token>
          X-Source: <sentryflow>
        tls:                   
          caCertPath: /path/to/ca.crt
          clientCertPath: /path/to/client.crt
          clientKeyPath: /path/to/client.key
          insecureSkipVerify: false