# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Authors of SentryFlow

name: Release Helm charts

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Release tag which has to be updated"
        type: "string"
        required: true
      ecr_repository:
        description: "ECR repository URL for Helm charts"
        type: "string"
        required: false
        default: "public.ecr.aws/k9v9d5v2/sentryflow-helm-charts"
      chart_path:
        description: "Path to Helm chart directory"
        type: "string"
        required: false
        default: "deployments/sentryflow"
      registry_type:
        description: "ECR registry type (public or private)"
        type: "string"
        required: false
        default: "public"

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}
  AWS_REGION: us-east-2 # default account region

jobs:
  release_helm_charts:
    if: github.repository == 'accuknox/sentryflow'
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_DEV_ACCESS_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_SECRET_ID }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Set ECR Region based on Registry Type
        id: set-region
        run: |
          if [ "${{ inputs.registry_type }}" = "public" ]; then
            echo "ECR_REGION=us-east-1" >> $GITHUB_ENV
          else
            echo "ECR_REGION=${{ env.AWS_REGION }}" >> $GITHUB_ENV
          fi
          echo "Using ECR Region: $ECR_REGION"

      - name: Authenticate to ECR (Public or Private)
        run: |
          if [ "${{ inputs.registry_type }}" = "public" ]; then
            echo "Logging in to Public ECR..."
            aws ecr-public get-login-password --region us-east-1 | \
              helm registry login --username AWS --password-stdin public.ecr.aws
          else
            echo "Logging in to Private ECR..."
            aws ecr get-login-password --region $ECR_REGION | \
              helm registry login --username AWS --password-stdin ${{ inputs.ecr_repository }}
          fi

      - name: Push Helm chart to ECR
        run: |
           helm package ${{ inputs.chart_path }} --version ${{ inputs.tag }} --destination ./build
           if [ "${{ inputs.registry_type }}" = "public" ]; then
             helm push ./build/*.tgz oci://public.ecr.aws/k9v9d5v2
           else
             helm push ./build/*.tgz oci://${{ inputs.ecr_repository }}
           fi
