# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Authors of SentryFlow

name: Release Helm charts

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Release tag which has to be updated"
        type: "string"
        required: true
      ecr_repository:
        description: "ECR repository URL for Helm charts"
        type: "string"
        required: false
        default: "956994857092.dkr.ecr.us-east-2.amazonaws.com"
      chart_path:
        description: "Path to Helm chart directory"
        type: "string"
        required: false
        default: "deployments/sentryflow"
      registry_type:
        description: "ECR registry type (public or private)"
        type: "string"
        required: false
        default: "private"

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}
  AWS_REGION: us-east-2

jobs:
  release_helm_charts:
    if: github.repository == 'accuknox/sentryflow'
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_DEV_ACCESS_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_SECRET_ID }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Push Helm chart to ECR
        uses: ./.github/actions/helm-push-ecr
        with:
          chart-path: ${{ inputs.chart_path }}
          ecr-region: ${{ env.AWS_REGION }}
          ecr-repo: ${{ inputs.ecr_repository }}
          version: ${{ inputs.tag }}
          type: ${{ inputs.registry_type }}
          aws-access-key-id: ${{ secrets.AWS_DEV_ACCESS_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_SECRET_ID }}
          version-dir: "src"
