# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Authors of SentryFlow

name: Stable release

on:
  create:
    tags:
      - "v*"
      
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}
  AWS_REGION: us-east-1
  ECR_REPOSITORY: public.ecr.aws/k9v9d5v2

jobs:
  release-sentryflow-image:
    if: ${{ github.repository == 'accuknox/sentryflow' }}
    name: Build and push sentryflow image
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_DEV_ACCESS_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_SECRET_ID }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Get tag
        id: tag
        run: |
          if [ ${{ github.ref }} == "refs/heads/main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./sentryflow/Dockerfile
          push: true
          tags: ${{ env.ECR_REPOSITORY }}/sentryflow:${{ steps.tag.outputs.tag }}
          platforms: linux/amd64,linux/arm64

  release-envoy-filter-image:
    if: ${{ github.repository == 'accuknox/sentryflow' }}
    name: Build and push envoyfilter's image
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_DEV_ACCESS_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_SECRET_ID }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Get tag
        id: tag
        run: |
          if [ ${{ github.ref }} == "refs/heads/main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: filter/envoy/envoy-wasm-filters
          file: filter/envoy/envoy-wasm-filters/Dockerfile
          push: true
          tags: ${{ env.ECR_REPOSITORY }}/sentryflow-httpfilter:${{ steps.tag.outputs.tag }}
          platforms: linux/amd64,linux/arm64

  update-image-tags-in-helm-charts:
    if: ${{ github.repository == 'accuknox/sentryflow' }}
    needs: [ release-sentryflow-image ]
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Get tag
        id: tag
        run: |
          if [ ${{ github.ref }} == "refs/heads/main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          fi

      - name: Update images tag
        run: |
          ./hack/update-image-tag.sh ${{ steps.tag.outputs.tag }}

      - name: Create PR to update images tag in Helm charts
        uses: peter-evans/create-pull-request@v7
        with:
          branch: update-helm-${{ steps.tag.outputs.tag }}
          commit-message: "[skip ci] Update Helm Chart To ${{ steps.tag.outputs.tag }}"
          committer: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          title: "[skip ci] Update Helm Chart To ${{ steps.tag.outputs.tag }}"
          base: main
          signoff: true
          delete-branch: true
