# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Authors of SentryFlow

name: Stable release

on:
  # create:
  #   tags:
  #     - "v*"
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'LICENSE'

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-sentryflow-image:
    if: ${{ github.repository == 'accuknox/sentryflow' }}
    name: Build and push sentryflow image
    uses: accuknox/accuknox-jobs/.github/workflows/push-image.yaml@sentryflow-docker-push
    with:
      DOCKER_CONTEXT: .
      DOCKERFILE: ./sentryflow/Dockerfile
      IMAGE_NAME: sentryflow
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}

  # release-envoy-filter-image:
  #   if: ${{ github.repository == 'accuknox/sentryflow' }}
  #   name: Build and push envoyfilters image
  #   uses: accuknox/accuknox-jobs/.github/workflows/push-image.yaml@sentryflow-docker-push
  #   with:
  #     DOCKER_CONTEXT: filter/envoy/envoy-wasm-filters
  #     DOCKERFILE: filter/envoy/envoy-wasm-filters/Dockerfile
  #     IMAGE_NAME: sentryflow-httpfilter
  #   secrets:
  #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
  #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}

  release-envoy-filter-sidecar-image:
    if: ${{ github.repository == 'accuknox/sentryflow' }}
    name: Build and push envoy sidecar filter image
    uses: accuknox/accuknox-jobs/.github/workflows/push-image.yaml@sentryflow-docker-push
    with:
      DOCKER_CONTEXT: filter/envoy/envoy-wasm-filters
      DOCKERFILE: filter/envoy/envoy-wasm-filters/Dockerfile
      IMAGE_NAME: sentryflow-httpfilter
      IMAGE_TAG: latest-sidecar      
      DOCKER_BUILD_ARGS: "PLUGIN_TYPE=sidecar"       
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}

  release-envoy-filter-gateway-image:
    if: ${{ github.repository == 'accuknox/sentryflow' }}
    name: Build and push envoy gateway filter image
    uses: accuknox/accuknox-jobs/.github/workflows/push-image.yaml@sentryflow-docker-push
    with:
      DOCKER_CONTEXT: filter/envoy/envoy-wasm-filters
      DOCKERFILE: filter/envoy/envoy-wasm-filters/Dockerfile
      IMAGE_NAME: sentryflow-httpfilter
      IMAGE_TAG: latest-gateway      
      DOCKER_BUILD_ARGS: "PLUGIN_TYPE=gateway"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}

  update-image-tags-in-helm-charts:
    if: ${{ github.repository == 'accuknox/sentryflow' }}
    needs: [ release-sentryflow-image, release-envoy-filter-image ]
    permissions:
      pull-requests: write
      contents: write
    uses: ./.github/workflows/release-helm-charts.yaml
    with: 
      tag: ${{ github.ref_name }}
      helm_repo: "public.ecr.aws/k9v9d5v2/"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}
