# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Authors of SentryFlow

name: Stable release

on:
  create:
    tags:
      - "v*"
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]
    paths:
      - 'filter/envoy/envoy-wasm-filters/**'
      - 'sentryflow/**'
      - '.github/workflows/stable-release.yaml'

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # release-sentryflow-image:
  #   if: ${{ github.repository == 'accuknox/sentryflow' }}
  #   name: Build and push sentryflow image
  #   uses: accuknox/accuknox-jobs/.github/workflows/push-image.yaml@sentryflow-docker-push
  #   with:
  #     DOCKER_CONTEXT: .
  #     DOCKERFILE: ./sentryflow/Dockerfile
  #     IMAGE_NAME: sentryflow
  #   secrets:
  #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
  #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}

  files-changed:
    name: Find out which files were changed
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      sentryflow: ${{ steps.filter.outputs.sentryflow}}
      envoyfilter: ${{ steps.filter.outputs.envoyfilter}}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3.0.2
        id: filter
        with:
          filters: |
            sentryflow:
              - 'sentryflow/**'
            envoyfilter:
              - 'filter/envoy/envoy-wasm-filters/**'

  release-envoy-filter-sidecar-image:
    needs: [ files-changed ]
    if: ${{ github.repository == 'accuknox/sentryflow' && (github.event_name == 'create' || needs.files-changed.outputs.envoyfilter == 'true') }}
    name: Build and push envoy sidecar filter image
    uses: ./.github/workflows/release-image.yaml 
    with:
      WORKING_DIRECTORY: ./filter/envoy/envoy-wasm-filters
      NAME: sentryflow-httpfilter
      ECR_REPOSITORY: public.ecr.aws/k9v9d5v2
      REGISTRY_TYPE: public
      DOCKER_BUILD_ARGS: "PLUGIN_TYPE=sidecar"
      IMAGE_TAG: "latest-sidecar"              #    secrets:
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}

  release-envoy-filter-gateway-image:
    needs: [ files-changed ]
    if: ${{ github.repository == 'accuknox/sentryflow' && (github.event_name == 'create' || needs.files-changed.outputs.envoyfilter == 'true') }}
    name: Build and push envoy gateway filter image
    uses: ./.github/workflows/release-image.yaml 
    with:
      WORKING_DIRECTORY: ./filter/envoy/envoy-wasm-filters
      NAME: sentryflow-httpfilter
      ECR_REPOSITORY: public.ecr.aws/k9v9d5v2
      REGISTRY_TYPE: public
      DOCKER_BUILD_ARGS: "PLUGIN_TYPE=sidecar"
      IMAGE_TAG: "latest-sidecar"              #    secrets:
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}

  # update-image-tags-in-helm-charts:
  #   if: ${{ github.repository == 'accuknox/sentryflow' && github.event_name == 'create' }}
  #   needs: 
  #     - release-sentryflow-image
  #     - release-envoy-filter-sidecar-image
  #     - release-envoy-filter-gateway-image
  #   permissions:
  #     pull-requests: write
  #     contents: write
  #   uses: ./.github/workflows/release-helm-charts.yaml
  #   with: 
  #     tag: ${{ github.ref_name }}
  #     helm_repo: "public.ecr.aws/k9v9d5v2/"
  #   secrets:
  #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_ID }}
  #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ID }}
